include LICENSE README.md
include fondum/fondum_requirements.txt
recursive-include fondum/source *
recursive-include fondum/templates *
recursive-include fondum/starter_web *
recursive-include fondum/starter_docker *
global-exclude *.pyc
