{% macro render_form_field(field, style) -%}

  {% if field.type in ["HiddenField", "CSRFTokenField"] %}

    {{ field }}

  {% else %}

    {% if style=="inline" %}
      {% set lbl_in = '' %}
      {% set lbl_out = ": " %}
      {% set dat_in = '' %}
      {% set dat_out = "" %}
    {% elif style=="horizontal" %}
      {% set lbl_in = '<div class="horizontal_form_label"><span class="pad6px">' %}
      {% set lbl_out = "</span></div>" %}
      {% set dat_in = '<div class="horizontal_form_data">' %}
      {% set dat_out = "</div>" %}
    {% else %} {# "basic" #}
      {% set lbl_in = "<p>" %}
      {% set lbl_out = "</p>" %}
      {% set dat_in = "<p>" %}
      {% set dat_out = "</p>" %}
    {% endif %}

    {% if field.href %}
      {% set href_in = '<a href="'+field.href+'">' %}
      {% set href_out = "</a>" %}
    {% else %}
      {% set href_in = "" %}
      {% set href_out = "" %}
    {% endif %}

    {#            LABEL FIELD         #}

    {% if style=="horizontal" %}
    <div class="horizontal_form_row">
    {% elif style=="inline" %}
    <div class="inline_form_row">
    {% endif %}
    {% if field.type in ["SubmitField", "BooleanField", "ButtonUrlField"] %}
    <!-- no label -->
    {% else %}
    {{lbl_in|safe}}
      <b>
        <label for="{{field.short_name}}">{{ field.label }}</label>
      </b>
    {{lbl_out|safe}}
    {% endif %}

    {#            DATA FIELD         #}

    {% if field.type == "DisplayTextField" %}

    {{dat_in|safe}}
      <div class="{{style}}">
        <div class="displaytextfield">
        {{href_in|safe}}
          {{ field.data }}
        {{href_out|safe}}
        </div>
      </div>
    {{dat_out|safe}}

    {% elif field.type == "ButtonUrlField" %}

    {{dat_in|safe}}
      {{href_in|safe}}<span class="btn">{{ field.label }}</span>{{href_out|safe}}
    {{dat_out|safe}}

    {% elif field.type == "RadioField" %}

    {{dat_in|safe}}
      {% for value, label, _ in field.iter_choices() %}
        <input class="autowidth" type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{value}}" {{"checked" if value==field.data}}>
        {{href_in|safe}}      
        {{ label }}
        {{href_out|safe}}
        {% if style != "inline" %}
        <br />
        {% endif %}
      {% endfor %}
    {{dat_out|safe}}

    {% elif field.type == "BooleanField" %}

    {{dat_in|safe}}
      {{ field(class_="autowidth") }}
      {{href_in|safe}}<b>{{field.label}}</b>{{href_out|safe}}
    {{dat_out|safe}}

    {% elif field.type in ["SubmitField"] %}

    {{dat_in|safe}}
      {{ field(class_="autowidth") }}
    {{dat_out|safe}}

    {% elif field.type == "DisplayPictureField" %}

    {{dat_in|safe}}
      {{href_in|safe}}
      <img src="{{ field.url }}" />
      {{href_out|safe}}
    {{dat_out|safe}}

    {% else %}

    {{dat_in|safe}}
      {{ field(class=style) }}
    {{dat_out|safe}}

    {% endif %}

    {% for error in field.errors %}
    {{dat_in|safe}}
      <span style="color:red;">{{ error }} </span>
    {{dat_out|safe}}
    {% endfor %}

    {% if style=="horizontal" %}
    </div>
    {% elif style=="inline" %}
    </div>
    {% endif %}

  {% endif %}

{%- endmacro %}





{% macro render_display_field(field, style) -%}

  {% if field.type in ["HiddenField", "CSRFTokenField"] %}

    <!-- {{field.label}}: {{field.data}} -->

  {% else %}

    {% if style=="inline" %}
      {% set lbl_in = "" %}
      {% set lbl_out = ": " %}
      {% set dat_in = "" %}
      {% set dat_out = "" %}
    {% elif style=="horizontal" %}
      {% set lbl_in = '<div class="horizontal_form_label"><span class="pad6px">' %}
      {% set lbl_out = "</span></div>" %}
      {% set dat_in = '<div class="horizontal_form_data">' %}
      {% set dat_out = "</div>" %}
    {% elif style=="table_basic" %}
      {% set lbl_in = '' %}
      {% set lbl_out = "" %}
      {% set dat_in = '' %}
      {% set dat_out = "" %}
    {% else %} {# "basic" #}
      {% set lbl_in = "<p>" %}
      {% set lbl_out = "</p>" %}
      {% set dat_in = "<p>" %}
      {% set dat_out = "</p>" %}
    {% endif %}

    {% if field.href %}
      {% set href_in = '<a href="'+field.href+'">' %}
      {% set href_out = "</a>" %}
    {% else %}
      {% set href_in = "" %}
      {% set href_out = "" %}
    {% endif %}

    {% if style=="horizontal" %}
    <div class="horizontal_form_row">
    {% endif %}

    {#            LABEL FIELD         #}

    {% if not style=="table_basic" %}
      {% if field.type in ["SubmitField", "BooleanField", "ButtonUrlField"] %}
      {% else %}
    {{lbl_in|safe}}
      <b>
        <label for="{{field.short_name}}">{{ field.label }}</label>
      </b>
    {{lbl_out|safe}}
      {% endif %}
    {% endif %}

    {#            DATA FIELD         #}

    {{ href_in|safe }}

    {% if field.type in ["ButtonUrlField", "SubmitField"] %}

    {{dat_in|safe}}
      <span class="btn">{{ field.label }}</span>
    {{dat_out|safe}}

    {% elif field.type == "RadioField" %}

    {{dat_in|safe}}
      {% for value, label, _ in field.iter_choices() %}
        {% if field.data==value %}&#9746;{% else %}&#9744;{% endif %}
        {{ label }}
        <br />
      {% endfor %}
    {{dat_out|safe}}

    {% elif field.type == "BooleanField" %}

    {{dat_in|safe}}
      {% if field.data %}&#9746;{% else %}&#9744;{% endif %}
    {% if not style=="table_basic" %}
      <b>{{field.label}}</b>
    {% endif %}
    {{dat_out|safe}}

    {% elif field.type == "SelectField" %}

    {{dat_in|safe}}
      {% for t in field.choices %}
        {% if t.0==field.data %}
    {{t.1}}
        {% endif %}
      {% endfor %}
    {{dat_out|safe}}

    {% elif field.type == "SelectMultipleField" %}

    {{dat_in|safe}}
      {% if field.data %}
        {% for t in field.choices %}
          {% if t.0 in field.data %}
    {{t.1}}
    <br />
          {% endif %}
        {% endfor %}
      {% endif %}
    {{dat_out|safe}}

    {% elif field.type == "DisplayPictureField" %}

    {{dat_in|safe}}
      <img src="{{ field.url }}" />
    {{dat_out|safe}}

    {% elif field.type == "TextAreaField" %}

    {{dat_in|safe}}
      <pre>{{ field.data }}</pre>
    {{dat_out|safe}}

    {% elif field.type == "PasswordField" %}

    {{dat_in|safe}}
      &#8226;&#8226;&#8226;
    {{dat_out|safe}}

    {% else %}

    {{dat_in|safe}}
      {{ field.data }}
    {{dat_out|safe}}

    {% endif %}

    {{ href_out|safe }}

    {% if style=="horizontal" %}
    </div>
    {% endif %}

  {% endif %}

{%- endmacro %}
